<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name='Pillbox' content='index'/>
<title>Pillbox</title>
<meta name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'>
<link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.png' type='image/x-icon' />
<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700|Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='site.css' type='text/css' media='screen' />
</head>
<body data-offset='80'>
	<!-- Header -->
	<div class="masthead col12 clearfix row2 keyline-bottom">
		<div class="limiter clearfix">
			<h1 class='col8 pad2y'>
        <div class='logo'>
        <span class='logo blue'>Pill</span><span class='logo orange'>box</span>
        </div>
      </h1>
			<div id="nav" class="col2 text-right pad2y contain clearfix noprint ">
				<a class='pad2' href=''>Issues</a>
				<a class='pad2'href=''>Fork</a>
			</div>
		</div>
  	</div>
  	<!-- Middle window section -->
  	<div class='limiter pad2y clearfix'>
  		<div class='col5 pad4y'>
  			<h2>Lorem Ipsum</h2>
  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  			</p>
  		</div>
  		<div class='margin1 col6 banner-nav'>
  				<a href='#api' class='truncate contain clearfix pad2 keyline-bottom'>
            <span class="icon" style="background-image: url(../{{site.baseurl}}/images/icons/api.png);"></span>
            <span class='prose'>API</span>
          </a>
					<a href='#data' class='truncate contain clearfix pad2 keyline-bottom'>
            <span class="icon" style="background-image: url(../{{site.baseurl}}/images/icons/data.png);"></span>
            <span class='prose'>Data Processing</span>
          </a>
          <a href='#contribute' class='truncate contain clearfix pad2'>
            <span class="icon" style="background-image: url(../{{site.baseurl}}/images/icons/contribute.png);"></span>
            <span class='prose'>Contribute Code</span>
          </a>
  		</div>
  	</div>
    <!-- Bottom reader columns -->
    {% for post in site.categories.docs %}
    <div class='col12 pad4y fill-{{post.background-color}} keyline-top'>
      <div class='contain clip limiter row12 clearfix'>
        <h2><a class='data' href='#{{post.class}}' id='{{post.class}}'>{{post.title}}</a></h2>
          {{post.content}}
  		</div>
  	</div>
  	{% endfor %}
</body>
</html>
