<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name='Pillbox for Developers' content='index'/>
<title>Pillbox</title>
<meta name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'>
<link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{site.baseurl}}/images/favicon.ico" type="image/x-icon">
<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700|Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='site.css' type='text/css' media='screen' />
</head>
<body data-offset='80'>
	<!-- Header -->
	<div class="masthead col12 clearfix row2 keyline-bottom">
		<div class="limiter clearfix">
			<a href='{{site.baseurl}}/'>
      <h1 class='col6 pad1y logo'>
        <span class='logo nlm'></span>
        <span class='logo text'>Pillbox for Developers</span>
      </h1>
      </a>
			<div class="nav col8 nav-header" class="col2 text-right pad2y contain clearfix noprint ">
        <a class='pad2 keyline-right' href='https://github.com/HHS/pillbox-data-process#pillbox-for-developers'>About</a>
        <a class='pad2'href='https://github.com/HHS/pillbox-data-process/issues?state=open'>Issues</a>
			</div>
		</div>
  	</div>
  	<!-- Middle window section -->
  	<div class='limiter pad2y clearfix'>
  		<div class='col5 pad4y'>
  			<h2>Opening the code of the Pillbox dataset</h2>
  			<p>The Pillbox dataset is one of the largest databases of prescription drug information made available by the FDA and NLM. Pillbox for Developers is a resource for getting open access to the Pillbox data processing code, understanding the methodology, and participating in the development of the project.</p>
  		</div>
  		<div class='margin1 col6 pad2y nav'>
  				<a href='#data' class='truncate contain clearfix pad2 keyline-bottom'>
            <span class="icon" style="background-image: url(../{{site.baseurl}}/images/icons/data.png);"></span>
            <span class='prose'>Understand the Process</span>
          </a>
					<a href='#contribute' class='truncate contain clearfix pad2 keyline-bottom'>
            <span class="icon" style="background-image: url(../{{site.baseurl}}/images/icons/contribute.png);"></span>
            <span class='prose'>Contribute Code Back</span>
          </a>
          <a href='#api' class='truncate contain clearfix pad2'>
            <span class="icon" style="background-image: url(../{{site.baseurl}}/images/icons/api.png);"></span>
            <span class='prose'>Access the Data</span>
          </a>
  		</div>
  	</div>
    <!-- Bottom reader columns -->
    {% for post in site.categories.docs %}
    <div class='col12 pad4y fill-{{post.background-color}} keyline-top'>
      <div class='contain clip limiter row12 clearfix'>
        <div class='col6'>
          <h2><a class='data' href='#{{post.class}}' id='{{post.class}}'> {{post.title}} </a> </h2>
          {{post.content}}
        </div>
        {% if post.columns == 2 %}
          <div class='col2 pad2x'>
            <h3><a href='{{post.link1}}'> {{post.link1title}} </a></h3>
            <p>{{post.link1info}}</p>
          </div>
          <div class='col2 pad2x'>
            <h3><a href='{{post.link2}}'> {{post.link2title}} </a></h3>
              <p>{{post.link2info}}</p>

            <h3><a href='{{post.link3}}'> {{post.link3title}} </a></h3>
              <p>{{post.link3info}}</p>

            <h3><a href='{{post.link4}}'> {{post.link4title}} </a></h3>
              <p>{{post.link4info}}</p>

            <h3><a href='{{post.link5}}'> {{post.link5title}} </a></h3>
              <p>{{post.link5info}}</p>

            <h3><a href='{{post.link6}}'> {{post.link6title}} </a></h3>
              <p>{{post.link6info}}</p>

            <h3><a href='{{post.link7}}'> {{post.link7title}} </a></h3>
              <p>{{post.link7info}}</p>

             <h3><a href='{{post.link8}}'> {{post.link8title}} </a></h3>
              <p>{{post.link8info}}</p>
          </div>
        {% elsif post.columns == 1 %}
           <div class='col4 pad4x'>
            <h3><a href='{{post.link1}}'> {{post.link1title}} </a></h3>
              <p>{{post.link1info}}</p>

            <h3><a href='{{post.link2}}'> {{post.link2title}} </a></h3>
              <p>{{post.link2info}}</p>

            <h3><a href='{{post.link3}}'> {{post.link3title}} </a></h3>
              <p>{{post.link3info}}</p>
        {% endif %}
        </div>
  		</div>
  	</div>
  	{% endfor %}
    <!-- Footer -->
    <div class='content-footer'>
      <div class='limiter col12 clearfix'>
          <span class='nih'></span>
          <span class='hhs'></span>
          <h6>Pillbox is a resource of the <a href=''>U.S. National Library of Medicine</a>, part of the <a href=''>National Institutes of Health</a>, <a href=''>U.S. Department of Health and Human Services</a>.</h6>
      </div>
    </div>
</body>
</html>
